@import url('https://fonts.googleapis.com/css?family=Lato:400,500&display=swap');


:root {
  --main-color: #fffdfa;
  --font-color-dark: #1B1B1B;
  --font-color-lite: #707070;
  --border-color: #d1d1d1;
  --font-size-regular: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-weight-medium: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  border: none;
}

*::before,
*::after {
  box-sizing: inherit;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* (10 / 16) * 100 = 62.5% and 1rem = 10px*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
  color: var(--font-color-dark);

  min-height: 100vh;
}